<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Page Not Found</h1>
    </div>
      <div class="col-md-12">
        <img src="/assets/not-found.png" width="400" alt="">
      </div>
    </div>
  </div>
