<div class="container" *ngIf='items.length === 0'>
    <div class="row">
      <div class="col-md-12 text-center">
          <h1>No items in the shop</h1>
          <p>Click <a routerLink="/add-item">here</a> to add an item</p>
      </div>
    </div>
  </div>

<div class="container"  *ngIf='items.length > 0'>
  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 18rem;"  *ngFor="let item of items">
            <img class="card-img-top" src="{{item.photo}}" *ngIf="item.photo">
            <img class="card-img-top" src="/assets/no-item.png" *ngIf="!item.photo">

            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">Price {{item.price}} €</p>
              <a [routerLink]="['/item/', item.id ]" class="btn btn-secondary"><fa-icon [icon]="faEye"></fa-icon> View</a>
              <button class="btn btn-primary" (click)="addItemToCart(item)"><fa-icon [icon]="faShoppingCart"></fa-icon> Add</button>
            </div>
          </div>
  </div>
</div>

<style>
.items{
    display: flex;
}

.item{
    border: 1px solid rgb(131,129,129);
    padding: 1rem;
    margin: 1rem;
}

.item:hover{
  border: 1px solid #000;
  box-shadow: 0 0 1px black;
}
</style>
