<div class="container">
  <div class="row">
    <div class="col-md-5">
        <form>
            <div class="form-group">
              <label for="name">Product Name</label>
              <input  class="form-control" type="text" id="name" placeholder="Name" [(ngModel)]="currentProduct.name" name="name" required>
            </div>

            <div class="form-group">
              <label for="image">Image</label>
              <input  class="form-control" type="text" id="image" placeholder="Image url" [(ngModel)]="currentProduct.photo" name="image" required>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">€</span>
              </div>
              <input type="text" class="form-control"id="price" placeholder="Price" [(ngModel)]="currentProduct.price" name="price" required>
            </div>

            <button type="submit" class="btn btn-primary" (click)="addItem()">Submit</button>
          </form>
    </div>
  </div>
</div>
