<div class="container">
  <div class="row">
    <div class="col-md-4">
        <img class="card-img-top" src="{{item.photo}}" *ngIf="item.photo">
        <img class="card-img-top" src="/assets/no-item.png" *ngIf="!item.photo">
    </div>
    <div class="col-md-8">
      <h2>{{item.name}}</h2>
      <h3>{{item.price}} €</h3>
      <button class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Add</button>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices ligula vel malesuada tempor. Sed accumsan risus nibh, vel cursus velit dignissim at. Quisque sed imperdiet sem, ut pulvinar lectus. Praesent lacus elit, convallis sed metus vel, laoreet blandit lorem. Ut feugiat nunc lectus, sed egestas nunc semper sit amet. Maecenas id mattis urna. Aliquam pellentesque, metus et laoreet gravida, felis nisl posuere sapien, sed pulvinar nisi sem at lacus.

        In hac habitasse platea dictumst. Proin sagittis odio sit amet feugiat pharetra. Aenean posuere nisl vitae vestibulum pharetra. Pellentesque ac posuere tortor. Nam ultrices dignissim rutrum. Morbi sodales ut urna vitae viverra. Pellentesque at elit dui.</p>

      <br>
      <a href="#" class="btn btn-primary"><fa-icon [icon]="faPencilAlt"></fa-icon> Edit</a>
      <button (click)="deleteItemById()" class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon> Delete</button>

    </div>
  </div>
</div>
