<div class="container">
  <div class="row" *ngIf='!cart'>
    <div class="col-md-12 text-center">
        <fa-icon [icon]="faShoppingCart" size="8x"></fa-icon>
        <h1>The cart is empty</h1>
        <p>Looks liky you have no items in your shopping cart.</p>
        <p>Click <a routerLink="items">here</a> to continue shopping</p>
    </div>
  </div>

  <div class="row" *ngIf='cart'>
    <div class="col-md-12 text-center">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price/Unity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart.items">
                <th scope="row">1</th>
                  <td>
                      <img class="card-img-top" src="{{item.item.photo}}" *ngIf="item.item.photo" style="width:80px;">
                      <img class="card-img-top" src="/assets/no-item.png" *ngIf="!item.item.photo" style="width:80px;">
                  </td>
                  <td>{{item.item.name}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.item.price}}</td>
                  <td>{{item.totalPrice}}</td>
              </tr>
            </tbody>
          </table>

    </div>

  </div>


</div>
