<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Quarkus workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/items">All Items</a>
          </li>
        <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active"  routerLink="/add-item">Add new Item</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="links">
</div>
<br>
<router-outlet></router-outlet>


<style>
.links a{padding: 1rem;}
</style>
